/* App.css or global.css */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Rubik+Wet+Paint&display=swap');

body {
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
}