.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(57, 50, 50);
    padding-bottom: 50px;
    margin: 0%;
    color: white;
    
}

.upper{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 5%;
}


.lower{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    /* border: 1px solid white; */
}
.footer-logo {
    padding: 0%;
    width: 30%;
    align-items: center;
    
}

.footer-logo img{
    width: 100%;
   
}

.footer-address{
    text-align: center;
    font-size: small;
    width: 50%;

}

.footer-donante{
    /* margin-right: 3%; */

}
.footer-subscribe{
    width: 50%;
    /* border: 1px solid white; */
    text-align: center;

}
.footer-info-work{

}

.copyright{
    margin-top: 2rem;
}


@media (max-width:980px){

    
       .upper{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 30px;
       }
       .footer-logo{
        order: 2;
       }
       .footer-donante{
        order:3;
       }


       .lower{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       }

}


